@charset "utf-8";

body{font-family:Microsoft YaHei,"宋体",Verdana;background:url(http://s.jesscool.com/imgpro/body_bg.gif) repeat-x left top;}
a{text-decoration:none;color:#000;}
a:hover{text-decoration:underline;}

.clear{clear:both;font-size:0px;}
.clearFloat{zoom:1;}
.clearFloat:after{content:".";display:block;height:0;font-size:0px;clear:both;visibility:hidden;}



#box{width:940px;margin:0px auto;}


/*-- header --*/
#header{height:57px;font-size:13px;margin-bottom:10px;}
#header a{color:#fff;}
#header a:hover{color:#fff;text-decoration:underline;}

#quickLink{height:22px;float:left;line-height:22px;padding-left:80px;}
#quickLink li{float:left;padding-right:10px;}
#login{height:22px;float:right;line-height:22px;color:#fff;}
#login li{float:left;padding-left:10px;}
#logo{clear:both;text-align:right;}
.recommend{text-align:right;position:relative;top:10px;right:0px;}
#header .recommend a{color:#000;}
#header .recommend a:hover{color:#000;}


/*-- main --*/
#main{width:595px;margin:0px 0px 0px 80px;min-height:300px;float:left;margin-right:25px;display:inline;}

.articleBox{}
.article{}
.articleTitle{font-size:21px;position:relative;top:-5px;}
.articleTitle span{color:#aeaeae;font-size:12px;margin-left:20px;}
.articleDec{padding:10px 0px 15px 0px;}
.articleImg{padding:0px 0px 50px 0px;border-bottom:1px solid #000;margin-bottom:32px;position:relative;}
.articleImg.noBorder{border:none;}
.articleDate{width:67px;color:#fff;text-align:center;position:absolute;top:0px;left:-79px;}
.articleDate dt{height:42px;line-height:42px;background-color:#000;margin-bottom:2px;}
.articleDate dd{height:24px;line-height:24px;background-color:#000;}

.articleDetail{position:relative;padding:10px 0px 15px 0px;}
.detialText{line-height:20px;position:relative;top:-11px;font-size:13px;}
.detialText img{margin:15px 0px 4px 0px;}
.articleDetail .articleDate{top:15px;}



/*-- sidebar --*/
#sidebar{width:240px;float:left;}
#articleType{width:240px;clear:both;margin-top:42px;font-size:14px;}
#articleType li{position:relative;margin-bottom:1px;}
#articleType li.hover{background-color:#f9f7f7;}
#articleType li a{height:24px;line-height:24px;display:block;padding-left:18px;background:url(http://s.jesscool.com/imgpro/line.gif) repeat-x left bottom;}
#articleType li.selected{background-color:#eee;font-weight:bold;}
#articleType li.selected a{background:url(http://s.jesscool.com/imgpro/articleType_dec.gif) no-repeat left center;position:relative;left:-6px;text-indent:6px;}
#articleType li a:hover{/*background-color:#eee;color:#000;*/text-decoration:none;}
#articleType li input{width:223px;padding-left:16px;}


.imgTagDelBtm,.imgTagEditBtm{cursor:pointer;}
.imgWrap{position:relative;}
.imgOperation{cursor:pointer;padding:5px;position:absolute;right:-10px;top:0px;}

#imgTagEditAndDel{display:none;position:absolute;right:-30px;top:2px;}
#imgTagEditAndDel img{padding-left:5px;}

/*-- footer --*/
#footer{ text-align:right;height:18px;padding:13px 0px 20px 0px;border-top:1px solid #888;clear:both;font-size:12px;}


